.btn {
  float: right;
  margin-top: 8px;
  margin-left: 10px;
}
.btn-primary.active {
  background-color: #337ab7;
  border-color: #fff;
}
.user-name {
  display: inline-block;
  width: auto;
  float: right;
  position: relative;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
