<!-- <md-toolbar> -->
<md-toolbar color="primary" class="mat-elevation-z7">


      <a class="left-menu" md-button routerLink=""><md-icon class="brand">add_location</md-icon> GTW-Blog</a>
      <a class="left-menu" md-button routerLink="/article">Articles</a>
      <a class="left-menu" *ngIf="root" md-button routerLink="/add-article" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add-Articles</a>

      <span class="spacer"></span>
      <span *ngIf="authService.af.auth | async" class="user-name">{{name}}</span>
      <button md-button (click)="loginWithGoogle()" *ngIf="!(authService.af.auth | async)"><i class="material-icons">exit_to_app</i> Login</button>
  <button  *ngIf="authService.af.auth | async" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu" xPosition="before">
    <button md-menu-item>
      <md-icon>notifications</md-icon>
      <span>Notifications</span>
    </button>
    <a *ngIf="root" md-menu-item routerLink="/root-room">
      <md-icon>account_circle</md-icon>
      <span>Admin Room</span>
    </a>
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
    <button md-menu-item (click)="logOut()" *ngIf="(authService.af.auth | async)">
      <md-icon>assignment_return</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
